{% extends 'layout.html' %}

{% block body %}
<div class="container" >
    <form>
        <div class="row pl-5">
            <div class="col-md-4 mt-5">
                <input class="form-control" placeholder="search" name="search">
            </div>

            <div class="col-md-6 mt-5">
                <button class="btn btn-success">Search</button>
            </div>
        </div>
    </form>

    <table class="table table-striped mt-5">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">student_id</th>
              <th scope="col">student_name</th>
              <th scope="col">student_email</th>
              <th scope="col">student_age</th>
              <th scope="col">department</th>
            </tr>
          </thead>
          <tbody>
            {% for student in queryset %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td>
                <a href="{% url 'see_marks' student.student_id %}">{{ student.student_id }}</a>
            </td>
              <td>{{ student.student_name }}</td>
              <td>{{ student.student_email }}</td>
              <td>{{ student.student_age  }}</td>
              <td>{{ student.department.department }}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>

      <nav aria-label="Page navigation example">
        <ul class="pagination">
            {% if queryset.has_previous %}
                <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a> </li>
                <li class="page-item"><a class="page-link" href="?page={{ queryset.previous_page_number }}">previous</a> </li>
            {% endif %}
    
            <span class="current">
                Page {{ queryset.number }} of {{ queryset.paginator.num_pages }}.
            </span>
    
            {% if queryset.has_next %}
                <li class="page-item"><a class="page-link" href="?page={{ queryset.next_page_number }}">next</a> </li>
                <li class="page-item"><a class="page-link" href="?page={{ queryset.paginator.num_pages }}">last &raquo;</a> </li>
            {% endif %}
        </ul>
      </nav>
</div>
{% endblock body %}