{% extends 'layout.html' %}

{% block body %}
<div class="container" >

    <table class="table table-striped mt-5">
        <h3>Rank : {{ queryset.first.student.studentreportcard.first.student_rank }}</h3>
        <h4>Total Marks : {{total_marks.total_marks}}</h4>
        <h5>Date od Result : {{ queryset.first.student.studentreportcard.first.date_of_repor_card_generation }}</h5>
          <tbody>
            {% for marks in queryset %}
            <tr>
              <th scope="row">{{ forloop.counter }}</th>
              <td><b>{{ marks.subject.subject_name }}</b></td>
              <td>{{ marks.marks }}</td>
            </tr>
            {% endfor %}
          </tbody>
      </table>
</div>
{% endblock body %}