{% extends 'layout.html' %}

{% block body %}


<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Login</h1>
        <hr>
        {% if messages %}

        {{ message.tags }}
        <div class="alert alert-primary" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        <div class="form-group">
          <label>username</label>
          <input type="text" class="form-control" name="username" placeholder="Enter username" required>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>

        <p> Don't have an account? <a href="/signup/">Sign up</a></p>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
{% endblock body %}