{% extends 'layout.html' %}

{% block body %}


<div class="container mt-5">
    <form class="col-6 mx-auto card p-3 shadow-lg" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <h1>Registration</h1>
        <hr>
        {% if messages %}

        {{ message.tags }}
        <div class="alert alert-primary" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        </div>
        {% endif %}

        <div class="form-group">
            <label>First name</label>
            <input type="text" class="form-control" name="first_name" placeholder="Enter first name" required>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Last name</label>
            <input type="text" class="form-control" name="last_name" placeholder="Enter last name" required>
          </div>
        <div class="form-group">
          <label for="exampleInputEmail1">username</label>
          <input type="text" class="form-control" name="username" placeholder="Enter username" required>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>

        <p> Already have an account? <a href="/signin/">Sign in</a></p>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>

{% endblock body %}